
.dropzone {
    min-height: 150px;
    border: 2px dashed #975aff;
    background: #f7f7f8;
    padding: 0px;
}
.dz-message {
    font-size: 1.5rem!important;
    position: absolute!important;
    margin-top:20px!important;
    right: 1.67rem!important;
    width: calc(100% - 3.3rem)!important;
    height: 40px!important;
    text-align: center!important;
    color: #975aff!important;
}
.dropzone .dz-message:before {
    font-family: 'feather';
    font-size: 2rem;
    line-height: 1;
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 50%;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: -40px;
    content: '\e864';
    color: #975aff;
    -webkit-font-smoothing: antialiased;
}
